<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gym.sensiyar">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".sendSms.SendSmsActivity"/>
        <activity android:name=".aboutUs.AboutUsActivity" />
        <activity android:name=".support.SupportActivity" />
        <activity android:name=".coachProfile.CoachProfileActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".bedehkar.BedehkarActivity" />
        <activity android:name=".withoutInsurance.WithoutInsuranceActivity" />
        <activity android:name=".addStu.AddStuActivity" />

        <service android:name=".services.BroadcastService" />

        <activity android:name=".completeProfile.CompleteProfileActivity" />
        <activity
            android:name=".otp.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".stuProfile.StuProfileActivity" />
        <activity android:name=".classDetail.ClassDetailActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".enterPhone.EnterPhoneActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterActivity" />
    </application>

</manifest>